/* * {
  outline: 1px dotted red;
} */
#row {
  width: 100%;
}
#col1 {
  width: 68%;
  display: inline-block;
  vertical-align: top;
}
#col2 {
  width: 15%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 35px 0;
  font-size: x-large;
}
#col3 {
  width: 15%;
  display: inline-block;
  text-align: center;
}
.button {
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.greenB {
  background-color: #4caf50;
  color: white;
}
.redB {
  background-color: #f44336;
  color: white;
}
.grayB {
  background-color: #e7e7e7;
  color: black;
}
.greenF {
  color: #4caf50;
}
.redF {
  color: #f44336;
}
.grayB {
  color: black;
}
