<h2 *ngIf="subQuotes.length > 0">Quotes List</h2>
<div *ngFor="let x of subQuotes; let i = index">
  <fieldset>
    <div id="row">
      <div id="col1">
        <p>"{{x.qMessage}}"</p>
        <p>- {{x.qArthor}}</p>
      </div>
      <div id="col2">
        <span class="greenF" *ngIf="x.qVote > 0">+{{x.qVote}}</span>
        <span class="redF" *ngIf="x.qVote < 0">{{x.qVote}}</span>
        <span class="greyF" *ngIf="x.qVote == 0">{{x.qVote}}</span>
      </div>
      <div id="col3">
        <button class="button greenB" (click)='onUp(x)'>Vote Up</button>
        <button class="button redB" (click)='onDown(x)'>Vote Down</button>
        <button class="button grayB" (click)='onDelete($event, x)'>Delete</button>
      </div>
    </div>
  </fieldset>
</div>
