<!--The content below is only a placeholder and can be replaced.-->
<div class='wrapper'>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <table>
    <tr>
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </tr>
    <tr *ngFor = 'let all of userlist'>
      <td>{{ all.email | lowercase }}</td>
      <td *ngIf = 'all.importance'><span [ngClass]="{ 'red': true }">High</span></td>
      <td *ngIf = '!all.importance'><span [ngClass]="{ 'red': false }">Low</span></td>
      <td>{{ all.subject }}</td>
      <td>{{ all.content }}</td>
    </tr>
  </table>
</div>


