.wrapper {
  text-align: center;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto;
}
th,td {
  border: 1px solid black;
  padding: 5px;
}
th {
  background-color: silver;
}
.red {
  color: red;
}
