label {
  display: inline-block;
  width: auto;
}

input {
  width: 50px;
}

.clear {
  outline: none;
  border: none;
  background-color: transparent;
}

.btn-red {
  background-color: red;
  color: white;
}
